:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  --softblue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  //  Neutral

  --verydarkbluembg: hsl(217, 54%, 11%); //main BG
  --verydarkbluecbg: hsl(216, 50%, 16%); //card BG
  --verydarkbluel: hsl(215, 32%, 27%); //line
}
